<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is an application built by <a href="https://www.alexstoll.work">Alex Stoll</a> for the purpose
  of learning Rails and a few other technologies.
</p>
<p>The code can be found <a href="https://github.com/AlexStoll/Cadence">here on Github.</a></p>
