<% provide(:title, 'Contact') %>

<h1>Contact the <a href="https://www.alexstoll.work">Developer</a></h1>
<dl>
  <dt>Email</dt>
  <dd><a href="alexstollm@gmail.com">alexstollm@gmail.com</a></dd>

  <dt>Phone</dt>
  <dd>(913) 787-6164</dd>

  <dt>Code</dt>
  <dd><a href="https://www.github.com/AlexStoll">GitHub</a></dd>
</dl>