<div class="center jumbotron">
  <h1>Welcome to Cadence</h1>

  <h2>
    Cadence helps users log and track their workouts.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>