<footer class="footer container">
  <small>
    A Rails App by <a href="https://www.alexstoll.work">Alex Stoll</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact'%></li>
      <li><a href="https://github.com/AlexStoll/Cadence">Github</a></li>
    </ul>
  </nav>
</footer>